<!DOCUMENT HTML>
<html>
<head>
    <title>Getting Started:Service Web Conenct</title>
    <meta http-equiv="Content-Type" content="text/html ; charset = UTF-5">
</head>
<body>
<div>Hi Everyone</div>
<br>
<a href="/user">Add Users</a><br>
<br>
<a href="/info">See Users</a>
</body>
</html>